<p>test1 works!</p>
<p>test works!</p> 
<div *ngIf="true">Display data</div>


<p>ngIfElse example!</p> 
<div *ngIf="isLogIn; else isLogOut"> 
   Hello you are logged in 
</div>
<ng-template #isLogOut> 
   You're logged out.. 
</ng-template>

<h2>ngFor directive</h2> 
<ul> 
   <li *ngFor="let l of list">
      {{l}} 
   </li>
</ul>


<div class="container"> 
    <br/> 
    <div *ngFor="let user of users" [ngClass]="{ 
       'highlight':user.userName === 'User1' 
    }"> 
       {{ user.userName }} 
    </div> 
 </div>










